{% extends 'web_app/layouts/base.html' %}
{% load static %}
{% block body %}{% endblock body %}

{% block extrahead %}

    <link rel="stylesheet" href="{% static 'webapp/curtain/style.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/thermostat/style.css' %}">

    <link rel="stylesheet" href="{% static 'webapp/setting-page/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/edit-profile/css/style.css' %}">

    <link rel="stylesheet" href="{% static 'webapp/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/home/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/scene/css/scene-page.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/libs/pickerjs-1.2.1/dist/picker.min.css' %}">

  {#    <link  rel="stylesheet/less" href="{{ url_for('static', filename='thermostat/control_buttons_style.scss') }}">#}
  {#    <script src="https://cdn.jsdelivr.net/npm/less" ></script>#}


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playfair+Display&display=swap" rel="stylesheet">


    {% comment %} <script id="tomorrow-sdk" src="{% static 'webapp/libs/tomorrow-weather-sdk/sdk.bundle.min.js' %}"></script> {% endcomment %}

    <script src="{% static 'webapp/libs/page.js/page.js' %}"></script>
    <script src="{% static 'webapp/libs/sortable-1.14.0/Sortable.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'coloris/coloris.min.css' %}">

{% endblock extrahead %}

{% block extrastyle %}

{% endblock extrastyle %}


{% block content %}
    <div class="container-fluid">

      <div class="page main-page home-page active-page">
            <div class="top-container mt-3">

                <div class="header-container d-flex justify-content-between">

                    <!-- <div class="d-flex flex-column ms-3 me-auto"> -->
                    <div class="d-flex flex-column" style="font-family: Dancing Script, cursive;">
                      <div style="font-weight:bolder;font-size:20px;">
                      <span style="color: var(--tblr-gray-500);">Hello,</span><span style="color: var(--tblr-bg-color);">{{ user.user.first_name}}!</span>
                        </div>
                      <div style="font-family: Dancing Script, cursive ;font-weight:normal;font-size: 12px">
                        welcome back to home
                      </div>
                    </div>
                        
                    <div class="d-flex flex-row ms-auto">
                    
                        <div class="">
                            <img id="avatar" src="{% if user.avatar_thumbnail %}{{ user.avatar_thumbnail.url }}{% else %}{% static 'webapp/images/male_avatar.png' %}{% endif %}">
                        </div>
                    </div>
                </div>

                <div class="tomorrow"
                data-location-id="134698"
                data-language="EN"
                data-unit-system="METRIC"
                data-skin="dark"
                data-widget-type="aqiMini"
                style="position:relative;border-radius: 16px;">
             </div>
             {% comment %} <p id="webViewInfo"></p> {% endcomment %}


                <div class="row scene-container">
                    <!-- <span class="ms-2 mt-2" style="font-style: normal;font-weight: bold;">Scenes</span> -->
                    {% comment %} <a href="{% static 'webapp/app-debug.apk' %}"> Download app</a> {% endcomment %}
                    <div class="d-flex flex-row" style="overflow-x: auto;scrollbar-width: none;padding-left: 5px;padding-right: 0;"></div>
                </div>

                  {% comment %} <div class="row scene-container1">
                        <!-- <span class="ms-2 mt-2" style="font-style: normal;font-weight: bold;">Scenes</span> -->
    
                        <div class="d-flex flex-row ms-2 mt-3" style="overflow-x: auto;scrollbar-width: none;">
    
                          <a href="{% static 'webapp/app-debug.apk' %}"> Download app</a>
                          <button type="button" class="btn btn-lg me-2" data-bs-toggle="modal" data-bs-target="#curtain-modal">
                                Small button</button>
    
                          <button type="button" class="btn btn-lg me-2" id="thermostat_modal_button" data-bs-toggle="modal" data-bs-target="#modaler"
                                style="background-color: #219EBC;color:seashell;border-radius: 20px;text-wrap: nowrap;font-weight: bold;font-size: small;">
                                Small button</button>
    
                          <div type="button" class="btn btn-lg me-2" data-bs-toggle="modal" data-bs-target="#automate_modal"
                                style="background-color: #023047;color:seashell;border-radius: 20px;text-wrap: nowrap;font-weight: bold;font-size: small;">
                                Small button</div>
                          <div type="button" class="btn btn-lg me-2" data-bs-toggle="modal" data-bs-target="#automate_modal1"
                                style="background-color: #FB8500;color:seashell;border-radius: 20px;text-wrap: nowrap;font-weight: bold;font-size: small;">
                                Small button</div>
                          <div type="button" class="btn btn-lg me-2" data-bs-toggle="modal" data-bs-target="#automate_modal2"
                                style="background-color: #8ECAE6;color:seashell;border-radius: 20px;text-wrap: nowrap;font-weight: bold;font-size: small;">
                                Small button</div>
                          <div type="button" class="btn btn-lg me-2" onclick="amir()"
                                style="background-color: #8ECAE6;color:seashell;border-radius: 20px;text-wrap: nowrap;font-weight: bold;font-size: small;">
                                Small button</div>
                          <div type="button" class="btn btn-lg me-2" onclick="amir3()"
                                style="background-color: #8ECAE6;color:seashell;border-radius: 20px;text-wrap: nowrap;font-weight: bold;font-size: small;">
                                Small button</div>
                          <button type="button" class="btn btn-lg me-2" id="" data-bs-toggle="modal" data-bs-target="#automate_modal_delay_action"
                                style="background-color: #219EBC;color:seashell;border-radius: 20px;text-wrap: nowrap;font-weight: bold;font-size: small;">
                                Small button</button>
    
                          <button type="button" class="btn btn-lg me-2" id="" data-bs-toggle="modal" data-bs-target="#dpf-modal"
                                style="background-color: #219EBC;color:seashell;border-radius: 20px;text-wrap: nowrap;font-weight: bold;font-size: small;">
                                Small button</button>
                        </div>
    
                    </div> {% endcomment %}


                <div class="zones-menu-container">
                    {#                    <div class="row mt-4">#}
                    {#                        <span class="ms-2" style="font-style: normal;font-weight: bold;">Zones</span>#}
                    {#                    </div>#}

                    <div class="row zones-menu-slider mt-2">
                        <!-- menu items -->
                        <div class="d-flex flex-row mb-2">
                            <!-- <div class="Rectangle9" style="width: 100%; height: 100px; background: rgba(25.33, 24.69, 32.70, 0.30);"></div> -->


                            {% comment %} <div class="p-3 menu-button d-flex justify-content-center align-items-center active"
                                data-menu-button="1">
                                <div class="menu-text">Kitchen</div>
                            </div>

                            <div class="p-3 menu-button d-flex justify-content-center align-items-center"
                                data-menu-button="2">
                                <div class="menu-text">Reception room</div>
                            </div>

                            <div class="p-3 menu-button d-flex justify-content-center align-items-center"
                                data-menu-button="3">
                                <div class="menu-text">Living room</div>
                            </div>

                            <div class="p-3 menu-button d-flex justify-content-center align-items-center"
                                data-menu-button="4">
                                <div class="menu-text">Master room</div>
                            </div>

                            <div class="p-3 menu-button d-flex justify-content-center align-items-center"
                                data-menu-button="5">
                                <div class="menu-text">Nilofar room</div>
                            </div>

                            <div class="p-3 menu-button d-flex justify-content-center align-items-center"
                                data-menu-button="6">
                                <div class="menu-text">Nursery</div>
                            </div>

                            <div class="p-3 menu-button d-flex justify-content-center align-items-center"
                                data-menu-button="7">
                                <div class="menu-text">Guest room</div>
                            </div>

                            <div class="p-3 menu-button d-flex justify-content-center align-items-center"
                                data-menu-button="8">
                                <div class="menu-text">Entrance hall</div>
                            </div>

                            <div class="p-3 menu-button d-flex justify-content-center align-items-center"
                                data-menu-button="9">
                                <div class="menu-text px-2 pe-4">Garden</div>
                            </div> {% endcomment %}


                        </div>
                    </div>

                </div>

            </div>

            <div class="row zone-content-container">

                <div class="col-12">

                </div>

            </div>
        </div>

      <div class="page main-page scene-page">

            <div class="top-bar-scene-mode-selector">
              <ul class="nav">
                <li class="nav-item">
                  <div class="scene-nav-link nav-link fw-bold fs-6 active" id="automation-scene-nav-link"
                     aria-current="page" href="#">Automation</div>
                </li>
                <li class="nav-item">
                  <div class="scene-nav-link nav-link fw-bold fs-6" id="tap-to-run-scene-nav-link" href="#">Tap to Run</div>
                </li>
                <li class="nav-item ms-auto">
                  <a class="nav-link add-scene" id="add-scene" href="/web_app/v1/new-scene-wizard"><i class="fa-solid fa-plus fa-xl"></i></a>
                </li>

              </ul>
            </div>

            <div class="scene-automation-rules-section sub-page active-sub-page mt-3">
              <div class="row">


              </div>
            </div>

            <div class="scene-tap-to-run-rules-section sub-page mt-3">
              <div class="row">

              </div>
            </div>


        </div>


      
        <div class="page scene-sub-page" id="device-selection-page">
        <div class="scene-page-header mt-4">
          <a href="/web_app/v1/scene-wizard" class="back-link">back</a>
          <div class="scene-wizard-header-name">Select Device</div>
        </div>

        <ul class="device-list mt-4" id="device-selection-list"></ul>
      </div>

      <div class="page scene-sub-page" id="dpf-selection-page">


        <div class="scene-page-header mt-4">
          <a href="/web_app/v1/scene-wizard-device-selection-page" class="back-link">back</a>
          <div class="scene-wizard-header-name">Select DataPoint</div>
        </div>

        <div class="dpf-list mt-4" id="dpf-selection-list"></div>
        <div class="fixed-bottom p-4" style="margin-bottom: 50px;height:6rem">
        <button id="save-dpf-btn" class="btn btn-success w-100 h-100 fw-bold fs-6">Save</button>
        </div>
      </div>


      <div class="page main-page setting-page">
        {% include 'web_app/pages/setting_page.html' %}
      </div>

      <div class="page main-page setting-page edit-profile-page" id="edit-profile-page">
      </div>

    </div>
    

{% endblock content %}

{% block modal %}


  <div id="overlay"></div>


    <div class="modal transition-bottom screenFull defaultModal fade" id="curtain-modal" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header padding-l-20 padding-r-20 justify-content-center border-0">
                        <div class="itemProduct_sm">
                            <h1 class="size-18 weight-900 m-0">Curtain</h1>
                        </div>
                        <!-- here is close button -->
                        <div class="absolute right-0 padding-r-20">
                            <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="padding-t-1">
                            <div class="text-center mb-4" style="margin-top:-25px" id="curtain-modal-title">
                              bedroom curtain
                            </div>
                            <div class="curtain-container-wrapper">
                              <div class="curtain-container">
                                <div class="curtain-top-tube"></div>
                                <div class="curtain-background"></div>
                                <div class="curtain-area">
                                  <div class="curtain  curtain-left">
                                    <div class="curtain-element"></div>
                                    <div class="curtain-element"></div>
                                    <div class="curtain-element"></div>
                                    <div class="curtain-element"></div>
                                    <div class="curtain-element"></div>
                                    <div class="curtain-element"></div>
                                    <div class="curtain-element"></div>
                                    <div class="curtain-element"></div>
                                    <div class="curtain-element"></div>
                                    <div class="curtain-element"></div>
                                  </div>
                                  <div class="curtain  curtain-right">
                                    <div class="curtain-element"></div>
                                    <div class="curtain-element"></div>
                                    <div class="curtain-element"></div>
                                    <div class="curtain-element"></div>
                                    <div class="curtain-element"></div>
                                    <div class="curtain-element"></div>
                                    <div class="curtain-element"></div>
                                    <div class="curtain-element"></div>
                                    <div class="curtain-element"></div>
                                    <div class="curtain-element"></div>
                                  </div>
                                </div>

                              </div>
                              </div>

                          <div class="curtain-control-buttons-container">
                              <div class="d-flex-flex-column" id="openButton">
                                <div class="icon-wrapper">
                                 <i class="fa-solid fa-up-right-and-down-left-from-center fa-rotate-by fa-xl" style="--fa-rotate-angle: 45deg;"></i>
                                </div>
                              </div>

                            <div class="d-flex-flex-column" id="closeButton">
                                <div class="icon-wrapper">
                                  <i class="fa-solid fa-down-left-and-up-right-to-center fa-rotate-by fa-xl" style="--fa-rotate-angle: 45deg;"></i>
                                </div>
                              </div>

                          </div>





                        </div>
                    </div>
                </div>
            </div>
    </div>


  
    <div class="modal transition-bottom screenFull defaultModal fade" id="modaler" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header padding-l-20 padding-r-20 justify-content-center border-0">
                        <div class="itemProduct_sm">
                            <h1 class="size-18 weight-900 color-secondary m-0">Air Conditioner</h1>
                        </div>
                        <!-- here is close button -->
                        <div class="absolute right-0 padding-r-20">
                            <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="modal-body thermostat-modal-body">
                      <div class="padding-t-1">

                              <div class="temperature-knob-container">
                                <div class="dial-container">

                                  <svg class="dial" viewBox="0 0 400 400">
                                    <defs>
                                  <linearGradient id="linear" x1="0%" y1="0%" x2="100%" y2="0%">
                                    <stop offset="0%" stop-color="#e5e5e5"/>
                                    <stop offset="100%" stop-color="#e5e5e5"stop-opacity="0"/>
                                  </linearGradient>
                                </defs>
                                    <line class="dial__tick" x1="50%" x2="50%" y1="17%" y2="83%" />
                                    <line class="dial__tick" x1="17%" x2="83%" y1="50%" y2="50%" />
                                    <circle class="dial__center" id="dial-center" cx="50%" cy="50%" r="120"/>
                                    <text class="dial__temp" x="50%" y="50%" text-anchor="middle"><tspan id="temp-display">31</tspan><tspan class="dial__temp-units">&deg;C</tspan></text>
                                    <g class="dial__control">
                                    <circle class="dial__track" cx="50%" cy="50%" r="152" stroke="url(#linear)"/>
                                    <circle id="temp-handle" class="dial__dot" cx="48" cy="50%" r="8" stroke="transparent" stroke-width="20" />
                                      </g>
                                  </svg>
                                </div>
                              </div>
                        <p class="text-center text-muted fw-bold">Current Temp</p>
                        <p class="text-center text-muted fw-bold pb-3" style="margin-top: -10px"><span id="current-temp">25</span>&deg;C</p>

                        <div class="thermostat-control-buttons-container mt-4">

                          <div class="ccc">
                            <div class="fff position-relative">
                            <div class="position-absolute top-50 start-0 translate-middle-y thermostat-power-switch">
                              <button class="bbb"><span id="thermostat-power-button-text">Turn On</span>&nbsp;&nbsp;<i class="fa-solid fa-power-off"></i></button>
                            </div>
                            <div class="position-absolute top-50 end-0 translate-middle-y container12 mb-1" style="margin-right: -8px;">
                              <div class="tabs12">
                                
                                <input type="radio" id="radio-heat" name="heat_cool" checked/>
                                <label class="tab" for="radio-heat"><i class="fa-solid fa-sun-bright"></i>&nbsp;Heat</label>
                                
                                <input type="radio" id="radio-cool" name="heat_cool"/>
                                <label class="tab" for="radio-cool"><i class="fa-light fa-snowflake"></i>&nbsp;Cool</label>
                                
                                <span class="glider"></span>
                              
                            </div>
                            </div>
                              </div>
                          </div>
                          <div class="row">
                                <div class="col-12 container12 position-relative">
                                    <div class="position-absolute bottom-0 start-50 translate-middle-x tabs12">
                                        <input type="radio" id="radio-low" name="fan_speed" />
                                        <label class="tab" for="radio-low">Low</label>
                                        <input type="radio" id="radio-medium" name="fan_speed" />
                                        <label class="tab" for="radio-medium">Medium</label>
                                        <input type="radio" id="radio-high" name="fan_speed" />
                                        <label class="tab" for="radio-high">High</label>
                                        <input type="radio" id="radio-auto" name="fan_speed" />
                                        <label class="tab" for="radio-auto">Auto</label>
                                        <span class="glider"></span>
                                    </div>
                                </div>

                            </div>

                        </div>



                      </div>
                    </div>
                </div>
            </div>
    </div>


  
    <div class="modal transition-bottom screenFull defaultModal fade" id="automate_modal" tabindex="-1"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header padding-l-20 padding-r-20 justify-content-center border-0">
                <div class="itemProduct_sm">
                    <h1 class="size-18 weight-900 color-secondary m-0">Add Condition</h1>
                </div>
                <!-- here is close button -->
                <div class="absolute right-0 padding-r-20">
                    <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                </div>
                <div class="modal-body" style="padding:0;">
                <div class="padding-1">

                    <ul class="if-condition-options-list">
                    <li data-option-type="tap-to-run">
                        <div class="item-card">
                        <div class="item-icon-section">
                            <i class="fa-regular fa-hand-back-point-up fa-xl" style="color: #74C0FC;"></i>
                        </div>
                        <div class="detail-section">
                            <div class="detail-title truncate-responsive">Launch Tap to run</div>
                        </div>
                        <div class="edit-section">
                            <div class="edit-icon">
                            <i class="fa-solid fa-angle-right fa-lg"></i>
                            </div>
                        </div>
                        </div>
                    </li>
                    <li data-option-type="schedule">
                        <div class="item-card">
                        <div class="item-icon-section">
                            <i class="fa-regular fa-clock fa-xl" style="color: #63E6BE;"></i>
                        </div>
                        <div class="detail-section">
                            <div class="detail-title truncate-responsive">Scehdule</div>
                        </div>
                        <div class="edit-section">
                            <div class="edit-icon">
                            <i class="fa-solid fa-angle-right fa-lg"></i>
                            </div>
                        </div>
                        </div>
                    </li>
                    <li data-option-type="select-device-status">
                        <div class="item-card">
                        <div class="item-icon-section">
                            <i class="fa-sharp fa-regular fa-microchip fa-xl" style="color: #FFD43B;"></i>
                        </div>
                        <div class="detail-section">
                            <div class="detail-title truncate-responsive">When device status changes</div>
                        </div>
                        <div class="edit-section">
                            <div class="edit-icon">
                            <i class="fa-solid fa-angle-right fa-lg"></i>
                            </div>
                        </div>
                        </div>
                    </li>

                    </ul>

                </div>

                </div>
            </div>
        </div>
    </div>


    <div class="modal transition-bottom screenFull defaultModal fade" id="automate_modal_action_options" tabindex="-1"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header padding-l-20 padding-r-20 justify-content-center border-0">
                    <div class="itemProduct_sm">
                        <h1 class="size-18 weight-900 color-secondary m-0">Add Action</h1>
                    </div>
                    <!-- here is close button -->
                    <div class="absolute right-0 padding-r-20">
                        <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
                <div class="modal-body"  style="padding:0;">
                    <div class="padding-1">

                        <ul class="then-actions-options-list">

                            <li data-option-type="delay">
                                <div class="item-card">
                                <div class="item-icon-section">
                                    <i class="fa-regular fa-hourglass-start fa-xl" style="color: #63E6BE;"></i>
                                </div>
                                <div class="detail-section">
                                    <div class="detail-title truncate-responsive">Delay the action</div>
                                </div>
                                <div class="edit-section">
                                    <div class="edit-icon">
                                    <i class="fa-solid fa-angle-right fa-lg"></i>
                                    </div>
                                </div>
                                </div>
                            </li>
                            <li data-option-type="control-single-device">
                                <div class="item-card">
                                <div class="item-icon-section">
                                    <i class="fa-sharp fa-regular fa-microchip fa-xl" style="color: #FFD43B;"></i>
                                </div>
                                <div class="detail-section">
                                    <div class="detail-title truncate-responsive">Control single device</div>
                                </div>
                                <div class="edit-section">
                                    <div class="edit-icon">
                                    <i class="fa-solid fa-angle-right fa-lg"></i>
                                    </div>
                                </div>
                                </div>
                            </li>

                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div>


  <div class="modal transition-bottom screenFull defaultModal fade" id="automate_modal_delay_action" tabindex="-1"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header padding-l-20 padding-r-20 justify-content-center border-0">
          <div class="itemProduct_sm">
            <h1 class="size-18 weight-900 color-secondary m-0">Set Delay Action</h1>
          </div>
          <!-- here is close button -->
          <div class="absolute right-0 padding-r-20">
            <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
        <div class="modal-body"  style="padding:0;">
          <div class="padding-1">
    {#            <label >fdfdfdf</label>#}
    {#            <input type="text" class="form-control js-full-picker">#}
            <h6 class="text-center mb-3 mt-2">Time Delay</h6>
            <div class="delay-modal-inline-picker ms-2 me-2 mb-4">00:00:00</div>

    {#            <div class="divider"></div>#}

          </div>

        </div>
    {#        <div class="modal-footer">#}
    {#          <button type="button" data-dismiss="modal" data-toggle="modal"#}
    {#                  data-target="#mdllConfirm-transfer"#}
    {#                  class="btn w-100 bg-primary m-0 color-white h-52 d-flex align-items-center rounded-8 justify-content-center">#}
    {#            Send!#}
    {#          </button>#}
    {##}
    {#        </div>#}
      </div>
    </div>
  </div>


  <div class="modal transition-bottom screenFull defaultModal fade" id="automate_modal_scheduler" tabindex="-1"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header padding-l-20 padding-r-20 justify-content-center border-0">
          <div class="itemProduct_sm">
            <h1 class="size-18 weight-900 color-secondary m-0">Set Scheduler</h1>
          </div>
          <div class="absolute right-0 padding-r-20">
            <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
        <div class="modal-body" style="padding:0;">
          <div class="padding-1">
            <h6 class="text-center mb-3 mt-2">Select date and time</h6>
            <div class="scheduler-modal-inline-picker ms-2 me-2 mb-4"></div>
            <style>
                .weekday-checkbox-container {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: repeat(2, auto);
                    gap: 10px;
                    font-family: Arial, sans-serif;
                    max-width: 600px;
                    margin: 0 20px;
                }
                .weekday-checkbox-container label {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--tblr-secondary-bg);
                    padding: 10px;
                    border-radius: 20px;
                    cursor: pointer;
                    transition: background-color 0.3s, color 0.3s;
                    text-align: center;
                    font-size: 11px;
                    min-height: 33px;
                    user-select: none;
                }
                .weekday-checkbox-container input[type="checkbox"] {
                    display: none;
                }
                .weekday-checkbox-container input[type="checkbox"]:checked + label {
                    background-color: #007bff;
                    color: white;
                }
                @media (max-width: 480px) {
                    .weekday-checkbox-container {
                        grid-template-columns: repeat(4, 1fr);
                        grid-template-rows: repeat(2, auto);
                    }
                }
            </style>
            <div class="mt-4 mb-4">
              <h6 class="text-center mb-3">Repeat</h6>
              <div class="weekday-checkbox-container">
                <input type="checkbox" id="once" name="weekday" value="once">
                <label for="once">Once</label>
                <input type="checkbox" id="monday" name="weekday" value="monday">
                <label for="monday">Monday</label>
                <input type="checkbox" id="tuesday" name="weekday" value="tuesday">
                <label for="tuesday">Tuesday</label>
                <input type="checkbox" id="wednesday" name="weekday" value="wednesday">
                <label for="wednesday">Wednesday</label>
                <input type="checkbox" id="thursday" name="weekday" value="thursday">
                <label for="thursday">Thursday</label>
                <input type="checkbox" id="friday" name="weekday" value="friday">
                <label for="friday">Friday</label>
                <input type="checkbox" id="saturday" name="weekday" value="saturday">
                <label for="saturday">Saturday</label>
                <input type="checkbox" id="sunday" name="weekday" value="sunday">
                <label for="sunday">Sunday</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal transition-bottom screenFull defaultModal fade" id="dpf-modal" tabindex="-1"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header padding-l-20 padding-r-20 justify-content-center">
          <div class="itemProduct_sm">
            <h1 class="size-18 weight-900 color-secondary m-0">Set Scheduler</h1>
          </div>
          <div class="absolute right-0 padding-r-20">
            <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
        <div class="modal-body" style="padding:0;">
          <div class="padding-1">

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal transition-bottom screenFull defaultModal fade" id="tap-to-run-actions-status-modal" tabindex="-1"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header padding-l-20 padding-r-20 justify-content-center border-bottom">
          <div class="itemProduct_sm">
            <h1 class="size-18 weight-900 color-secondary m-0">Tap to Run Actions</h1>
          </div>
          <div class="absolute right-0 padding-r-20">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <i class="fa-regular fa-xmark"></i>
            </button>
          </div>
        </div>
        <div class="modal-body" style="padding:0;">


          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- <div id="consoleLog"></div> -->

{% endblock modal %}


{% block extrajs %}

  {{ home_controllers|json_script:"home-controllers-data" }}
  {{ home_zones|json_script:"home-zones-data" }}
  {{ all_devices|json_script:"home-devices-data" }}
  {{ all_home_ui_elements|json_script:"home-ui-elements-data" }}
  <script>
      let all_home_controllers = JSON.parse(document.getElementById('home-controllers-data').textContent);
      let all_home_zones = JSON.parse(document.getElementById('home-zones-data').textContent);
      let all_home_devices = JSON.parse(document.getElementById('home-devices-data').textContent);
      let all_home_ui_elements = JSON.parse(document.getElementById('home-ui-elements-data').textContent);
  </script>
  <script>
      const web_app_base_url = "/web_app/v1";
      const linkage_rule_base_url = "{% url 'web_app:create_new_linkage_rule' %}"

      const logout_url = "{% url 'web_app:logout' %}";
      
      const edit_profile_url = "{% url 'web_app:edit_profile' %}";

      const mqtt_broker_host = '{{ mqtt_broker_host }}';
      const mqtt_port = {{ mqtt_broker_port }};
      const mqtt_ws_path = '{{ mqtt_broker_ws_path }}';
      const mqtt_transport = '{{ mqtt_broker_transport }}';
      const mqtt_client = '{{ user.mqtt_client_id }}';
      const mqtt_username = '{{ user.mqtt_username }}';
      const mqtt_password = '{{ user.mqtt_password }}';

      const home_uuid = '{{ user.parent_home.uuid }}';
      const project_uuid = '{{ user.parent_project.uuid }}';
    
  </script>

  <script>
    function getWebViewInfo() {
        var ua = navigator.userAgent;
        var webViewRegex = /WebView|wv/i;
        var isWebView = webViewRegex.test(ua);
        
        if (isWebView) {
            // Try to extract version information
            var versionInfo = ua.match(/Chrome\/(\d+\.\d+\.\d+\.\d+)/);
            var version = versionInfo ? versionInfo[1] : "Unknown";
            
            console.log("This is a WebView. Version: " + version);
            document.getElementById('webViewInfo').textContent = "WebView Version: " + version;
            return "WebView Version: " + version;
        } else {
            console.log("This is not a WebView.");
            document.getElementById('webViewInfo').textContent = "Not a WebView";
            return "Not a WebView";
        }
    }
    
    // Call the function
    {% comment %} var webViewInfo = getWebViewInfo(); {% endcomment %}
    
  </script>
  <script type="application/javascript" src="{% static 'webapp/home/js/theme-mode.js' %}"></script>
  <script type="application/javascript" src="{% static 'webapp/home/js/main.js' %}"></script>
  <script type="application/javascript" src="{% static 'coloris/coloris.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'webapp/libs/tinycolor/tinycolor-min.js' %}"></script>
  <script type="application/javascript" src="{% static 'webapp/scene/js/scene-page.js' %}"></script>
  <script type="application/javascript" src="{% static 'webapp/libs/pickerjs-1.2.1/dist/picker.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'webapp/scene/js/variables.js' %}"></script>
  <script type="application/javascript" src="{% static 'webapp/js/global_variables.js' %}"></script>
  <script type="application/javascript" src="{% static 'webapp/libs/mqttjs-5.10.1/mqtt.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'webapp/mqttEventBus/eventBus.js' %}"></script>
  <script type="application/javascript" src="{% static 'webapp/mqttClient/client.js' %}"></script>
  <script type="application/javascript" src="{% static 'webapp/scene/js/scene_cards_generator.js' %}"></script>
  <script type="application/javascript" src="{% static 'webapp/scene/js/scene_wizard.js' %}"></script>
  {% comment %} <script type="application/javascript" src="{% static 'webapp/curtain/script.js' %}"></script> {% endcomment %}
  {% comment %} <script type="application/javascript" src="{% static 'webapp/thermostat/script.js' %}"></script> {% endcomment %}
  <script type="application/javascript" src="{% static 'webapp/home/js/zone-menu.js' %}"></script>
  <script type="application/javascript" src="{% static 'webapp/ui-constructors/switch-buttons.js' %}"></script>
  <script type="application/javascript" src="{% static 'webapp/ui-constructors/push-buttons.js' %}"></script>
  <script type="application/javascript" src="{% static 'webapp/ui-constructors/curtain-controller.js' %}"></script>
  <script type="application/javascript" src="{% static 'webapp/ui-constructors/thermostat.js' %}"></script>
  <script type="application/javascript" src="{% static 'webapp/js/main.js' %}"></script>

  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register(window.origin + '/service-worker.js', {
            scope: '.'
        })
          .then(function(registration) {
            console.log('Service Worker registered:', registration);
          })
          .catch(function(error) {
            console.log('Service Worker registration failed:', error);
          });
      });
    }
  </script>

{% endblock extrajs %}

