body {
    font-family: Arial, sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#light-controls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 400px;
}

.button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #007BFF;
}

.button.light-on {
    background-color: #28a745;
}

.button.light-off {
    background-color: #dc3545;
}
