

<nav class="bottom-navbar-container">
        <ul>
            <li class="d-flex flex-column align-items-center">
                <a class="nav-button active" data-page="home-page">
                    <i class="fa-solid fa-house fa-lg"></i>
                </a>
                <div class="link-text home">
                    Home
                </div>
            </li>
            <li>
                <a class="nav-button" data-page="scene-page">
                    <i class="fa-solid fa-layer-group fa-lg"></i>
                </a>
                <div class="link-text scene">
                    Scene
                </div>
            </li>
            <li>
                <a class="nav-button" data-page="setting-page">
                    <i class="fa-solid fa-gear fa-lg"></i>
                </a>
                <div class="link-text setting">
                    Setting
                </div>
            </li>
            <!-- <li><a href="#">Contact</a></li> -->
        </ul>
    </nav>
