

<nav class="bottom-navbar-container">
        <ul>
            <li class="d-flex flex-column align-items-center">
                <a class="nav-button active" data-page="home-page" href="/web_app/v1/home">
                    <i class="fa-solid fa-house fa-lg"></i>
                </a>
                <div class="link-text home">
                    Home
                </div>
            </li>
            <li>
                <a class="nav-button" data-page="scene-page" href="/web_app/v1/scene">
                    <i class="fa-solid fa-layer-group fa-lg"></i>
                </a>
                <div class="link-text scene">
                    Scene
                </div>
            </li>
            <li>
                <a class="nav-button" data-page="setting-page" href="/web_app/v1/setting">
                    <i class="fa-solid fa-user fa-lg"></i>
                </a>
                <div class="link-text setting">
                    Profile
                </div>
            </li>
            <!-- <li><a href="#">Contact</a></li> -->
        </ul>
    </nav>
