{% extends 'dashboard/home_wizard.html' %}
{% load static %}

{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'font-awesome-6-pro-main/css/all.css' %}" />

  <script src="{% static 'DataTables/jQuery-3.7.0/jquery-3.7.0.min.js' %}" xmlns="http://www.w3.org/1999/html"></script>

  <link rel="stylesheet" href="{% static 'DataTables/DataTables-1.13.6/css/jquery.dataTables.min.css' %}">
  <link rel="stylesheet" href="{% static 'DataTables/DataTables-1.13.6/css/dataTables.bootstrap.min.css' %}">
{#  <link rel="stylesheet" href="{% static 'DataTables/Select-1.7.0/css/select.bootstrap.min.css' %}">#}

  <script src="{% static 'DataTables/DataTables-1.13.6/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'DataTables/DataTables-1.13.6/js/dataTables.bootstrap.min.js' %}"></script>
{#  <script src="{% static 'DataTables/Select-1.7.0/js/dataTables.select.min.js' %}"></script>#}

{#  <link href="{% static 'custom/tom-select.css' %}" rel="stylesheet"/>#}

{#  <script src="{% static 'custom/tom-select.complete.min.js' %}" defer></script>#}


{% endblock extrahead %}

{% block right_side_card_content %}
  <div class="card-body">
     <div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
              Home Users
            </h2>
          </div>
          <div class="col-auto ms-auto d-print-none">
            <div class="btn-list">

              <a href="{% url 'dashboard:home_wizard_create_new_user' project.uuid home.uuid %}" class="btn btn-primary d-none d-sm-inline-block">
                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                     stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 5l0 14"></path>
                  <path d="M5 12l14 0"></path>
                </svg>
                Create new user
              </a>
              <a href="{% url 'dashboard:home_wizard_create_new_user' project.uuid home.uuid %}" class="btn btn-primary d-sm-none btn-icon"
                 aria-label="Create new report">
                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                     stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 5l0 14"></path>
                  <path d="M5 12l14 0"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">
        <!-- Content here -->


            <table class="display hover row-border stripe" id="illnesses_table" style="width: 100%;">
              <thead>
              <tr>
                <th>username</th>
                <th>fullname</th>
                <th>tablet user</th>
                <th>web app user</th>
                <th>settings</th>
                <th>last login</th>
                <th>creator</th>
                <th>created at</th>
                <th>editor</th>
                <th>edited at</th>
                <th>delete</th>
              </tr>
              </thead>

              <tbody>

              {% for user in home_users%}
                <tr>
                  <td>{{ user.user.username }}</td>
                  <td>{{ user.user.get_full_name }}</td>
                  <td>{{ user.is_tablet_user }}</td>
                  <td>{{ user.is_web_app_user }}</td>
                  {% if perms.dashboard.change_homeUser %}
                    <td><a href="{% url 'dashboard:home_wizard_edit_user' project.uuid home.uuid user.uuid %}"><i class="fa-light fa-pen-to-square" style="font-size: 20px"></i></a></td>
                    {% else %}
                    <td><i class="fa-light fa-pen-to-square" style="font-size: 25px"></i></td>

                  {% endif %}
                  <td>{{ user.user.last_login|default_if_none:'not login yet' }}</td>
                  <td>{{ user.created_by }}</td>
                  <td>{{ user.created_at }}</td>
                  <td>{{ user.last_edited_by }}</td>
                  <td>{{ user.last_modified }}</td>
{#                  <td>#}
{#                    <span class="badge {% if project.status == 'disable' %} bg-red#}
{#                                        {% elif project.status == 'maintenance' %}  bg-blue#}
{#                                        {% elif project.status == 'in_construction' %} bg-yellow#}
{#                                        {% elif project.status == 'enable' %} bg-green#}
{#                                        {% endif %} badge-blink me-1"></span>{{ project.status }}</td>#}

                <td><a href="{% url 'dashboard:home_wizard_delete_user' home.parent_project.uuid home.uuid user.uuid %}"><i class="fa-light fa-trash-can" style="font-size: 20px"></i></a></td>

                </tr>
              {% endfor %}
              </tbody>
            </table>



      </div>
    </div>
  </div>

  </div>

  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Bootstrap</strong>
        <small>Now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">

      </div>
    </div>
  </div>

{% endblock right_side_card_content %}





{% block extrajs %}
  <script>
      document.addEventListener('DOMContentLoaded', function () {
          let table = $("#illnesses_table").DataTable({
              columnDefs: [
                  {width: '10%', targets: 0, className: 'dt-head-center dt-body-center'},
                  {width: "10%", targets: 1, className: 'dt-head-center dt-body-center', orderable: false},
                  {width: "10%", targets: 2, className: 'dt-head-center dt-body-center', orderable: false},
                  {width: "10%",  targets: 3, className: 'dt-head-center dt-body-center', orderable: false},
                  {width: "5%",  targets: 4, className: 'dt-head-center dt-body-center', orderable: false},
                  {width: "10%",  targets: 5, className: 'dt-head-center dt-body-center', orderable: true},
                  {width: "5%",  targets: 6, className: 'dt-head-center dt-body-center', orderable: true},
                  {width: "15%",  targets: 7, className: 'dt-head-center dt-body-center'},
                  {width: "5%", targets: 8, className: 'dt-head-center dt-body-center'},
                  {width: "15%", targets: 9, className: 'dt-head-center dt-body-center'},
                  {width: "5%", targets: 10, className: 'dt-head-center dt-body-center', orderable: false},


              ],
              fixedColumns: true,
              scrollX: true,
              order:[[8,'desc']]
          });


          {% if message %}
          const toastLiveExample = document.getElementById('liveToast');
          const toast_body = document.getElementsByClassName("toast-body")[0];
          toast_body.innerHTML = {{ message }};
          const toast = new bootstrap.Toast(toastLiveExample);
          toast.show();
          {% endif %}
      });

  </script>

{% endblock extrajs %}