{% extends 'dashboard/pages/home_wizard.html' %}
{% load static %}

{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'font-awesome-6-pro-main/css/all.css' %}" />

  <script src="{% static 'DataTables/jQuery-3.7.0/jquery-3.7.0.min.js' %}" xmlns="http://www.w3.org/1999/html"></script>

  <link rel="stylesheet" href="{% static 'DataTables/DataTables-1.13.6/css/jquery.dataTables.min.css' %}">
  <link rel="stylesheet" href="{% static 'DataTables/DataTables-1.13.6/css/dataTables.bootstrap.min.css' %}">
{#  <link rel="stylesheet" href="{% static 'DataTables/Select-1.7.0/css/select.bootstrap.min.css' %}">#}

  <script src="{% static 'DataTables/DataTables-1.13.6/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'DataTables/DataTables-1.13.6/js/dataTables.bootstrap.min.js' %}"></script>
{#  <script src="{% static 'DataTables/Select-1.7.0/js/dataTables.select.min.js' %}"></script>#}

{#  <link href="{% static 'custom/tom-select.css' %}" rel="stylesheet"/>#}

{#  <script src="{% static 'custom/tom-select.complete.min.js' %}" defer></script>#}


{% endblock extrahead %}


{% block right_side_card_content %}
  <div class="card-body">
     <div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
              Home Zones
            </h2>
          </div>
          {% if not project.project_lock %}
          <div class="col-auto ms-auto d-print-none">
            <div class="btn-list">

              <a href="{% url 'dashboard:home_wizard_create_new_user' project.uuid home.uuid %}" class="btn btn-primary d-none d-sm-inline-block"
                  data-bs-toggle="modal" data-bs-target="#modal_add_new_zone" >
                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                     stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 5l0 14"></path>
                  <path d="M5 12l14 0"></path>
                </svg>
                Create new zone
              </a>
              <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal_add_new_zone"
                 aria-label="Create new report">
                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                     stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 5l0 14"></path>
                  <path d="M5 12l14 0"></path>
                </svg>
              </a>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">
        <!-- Content here -->


            <table class="display hover row-border stripe" id="zone_table" style="width: 100%;">
              <thead>
              <tr>
                <th>zone name</th>
                <th>description</th>
                <th>zone devices</th>
                <th>edit</th>
                <th>creator</th>
                <th>created at</th>
                <th>editor</th>
                <th>edited at</th>
                <th>delete</th>
              </tr>
              </thead>

              <tbody>

              {% for zone in zones%}
                <tr>
                  <td>{{ zone.zone_name }}</td>
                  <td>{{ zone.description|default_if_none:'' }}</td>
                  <td>{{ zone.zone_devices.count }}</td>
                  {% if perms.dashboard.change_zone %}
                    {% if not zone.parent_project.project_lock %}
                      <td>
                        <a href="#" data-zone-uuid="{{ zone.uuid }}"
                           data-edit-form-href="{% url 'dashboard:home_wizard_edit_zone' project.uuid home.uuid zone.uuid %}"
                           data-bs-toggle="modal" data-bs-target="#modal_edit_zone">
                          <i class="fa-light fa-pen-to-square" style="font-size: 20px"></i>
                        </a>
                      </td>
                    {% else %}
                      <td><i class="fa-light fa-pen-to-square" style="font-size: 25px"></i></td>
                    {% endif %}
                  {% else %}
                    <td><i class="fa-light fa-pen-to-square" style="font-size: 25px"></i></td>
                  {% endif %}

                  <td>{{ zone.created_by }}</td>
                  <td>{{ zone.created_at }}</td>
                  <td>{{ zone.last_edited_by }}</td>
                  <td>{{ zone.last_modified }}</td>
{#                  <td>#}
{#                    <span class="badge {% if project.status == 'disable' %} bg-red#}
{#                                        {% elif project.status == 'maintenance' %}  bg-blue#}
{#                                        {% elif project.status == 'in_construction' %} bg-yellow#}
{#                                        {% elif project.status == 'enable' %} bg-green#}
{#                                        {% endif %} badge-blink me-1"></span>{{ project.status }}</td>#}
                  {% if perms.dashboard.delete_zone %}
                    {% if not zone.parent_project.project_lock %}
                      <td><a href="{% url 'dashboard:home_wizard_delete_zone' home.parent_project.uuid home.uuid zone.uuid %}"><i class="fa-light fa-trash-can" style="font-size: 20px"></i></a></td>
                    {% else %}
                      <td><i class="fa-light fa-trash-can" style="font-size: 20px"></i></td>
                    {% endif %}
                  {% else %}
                    <td><i class="fa-light fa-trash-can" style="font-size: 20px"></i></td>
                  {% endif %}

                </tr>
              {% endfor %}
              </tbody>
            </table>



      </div>
    </div>
  </div>

  </div>

  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Bootstrap</strong>
        <small>Now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">

      </div>
    </div>
  </div>

{% endblock right_side_card_content %}


{% block modal %}

            <div class="modal modal-blur fade" id="modal_edit_zone" tabindex="-1" style="display: none;" aria-hidden="true" >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <form action="" method="POST" id="edit_zone_form">
                    {% csrf_token %}

                  <div class="modal-header">
                    <h5 class="modal-title">Edit Zone</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>

                  <div class="modal-body">
                    <div class="row mb-3 align-items-end">
                      <div class="col-12">
                        <h3 class="card-title">previous zone name:</h3>
                        <p id="modal_zone_name" dir="auto"></p>
                      </div>
                    </div>

                    <input type="text" name="zone_previous_uuid" id="selected_zone_uuid_input" value="" hidden/>

{#                    <div class="mb-3">#}
{#                      <label class="form-label">Change illness name</label>#}
{#                      <input type="text" class="form-control" name="new_zone_name" value="" style="width: 100%"#}
{#                             dir="auto"/>#}
{#                    </div>#}
{#                    <div class="mb-3">#}
{#                      <label class="form-label">description</label>#}
{#                      <input type="text" class="form-control" name="new_zone_name" value="" style="width: 100%"#}
{#                             dir="auto"/>#}
{#                    </div>#}

                    {% for field in zone_form %}
                      <label class="form-label mt-3">New {{ field.label }}</label>
                      {{ field }}
                    {% endfor %}


                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                      <button id="submitBtn" type="submit" class="btn btn-primary" >Change</button>
                  </div>
                </form>
                </div>

              </div>
            </div>

            <div class="modal modal-blur fade" id="modal_add_new_zone" tabindex="-1" style="display: none;" aria-hidden="true" >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <form action="{% url 'dashboard:home_wizard_create_new_zone' project.uuid home.uuid %}" method="POST">
                    {% csrf_token %}
                  <div class="modal-header">
                    <h5 class="modal-title">Add New Zone</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="row mb-3 align-items-end">


                      {% for field in zone_form %}
                        <label class="form-label mt-3">{{ field.label }}</label>
                        {{ field }}
                      {% endfor %}

                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                      <button id="submitBtn" type="submit" class="btn btn-primary" >Add</button>
                  </div>
                </form>
                </div>
              </div>
            </div>

{% endblock modal %}


{% block extrajs %}
  <script>
      document.addEventListener('DOMContentLoaded', function () {
          let table = $("#zone_table").DataTable({
              columnDefs: [
                  {width: '10%', targets: 0, className: 'dt-head-center dt-body-center'},
                  {width: "20%", targets: 1, className: 'dt-head-center dt-body-center', orderable: false},
                  {width: "10%", targets: 2, className: 'dt-head-center dt-body-center'},
                  {width: "5%",  targets: 3, className: 'dt-head-center dt-body-center', orderable: false},
                  {width: "10%",  targets: 4, className: 'dt-head-center dt-body-center', orderable: false},
                  {width: "15%",  targets: 5, className: 'dt-head-center dt-body-center', orderable: false},
                  {width: "10%",  targets: 6, className: 'dt-head-center dt-body-center', orderable: false},
                  {width: "15%",  targets: 7, className: 'dt-head-center dt-body-center'},
                  {width: "5%", targets: 8, className: 'dt-head-center dt-body-center'},



              ],
              fixedColumns: true,
              scrollX: true,
              order:[[8,'desc']]
          });

          $('#zone_table tbody').on('click', 'tr', function () {
              console.log(table.row(this).selector.rows.children[3].firstElementChild.attributes["data-edit-form-href"]);
              console.log(table.row(this).data()[0]);
              if (table.row(this).selector.rows.children[3].firstElementChild.attributes["data-edit-form-href"]) {
                  const edit_form_href = table.row(this).selector.rows.children[3].firstElementChild.attributes["data-edit-form-href"].value;
                  $("#edit_zone_form").attr('action', edit_form_href);
              }
              $("#modal_zone_name").text(table.row(this).data()[0]);
              {#$("#selected_zone_uuid_input").val(table.row(this).selector.rows.children[1].firstChild.attributes["data-illness-id"].value);#}
          });


          {% if message %}
          const toastLiveExample = document.getElementById('liveToast');
          const toast_body = document.getElementsByClassName("toast-body")[0];
          toast_body.innerHTML = {{ message }};
          const toast = new bootstrap.Toast(toastLiveExample);
          toast.show();
          {% endif %}
      });

  </script>

{% endblock extrajs %}



