{% extends 'dashboard/pages/home_wizard.html' %}
{% load static %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'font-awesome-6-pro-main/css/all.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'coloris/coloris.min.css' %}">
{% endblock extrahead %}

{% block extrastyle %}
  <style>
      .icons-box-container {
          position: relative;
          display: inline-block;
          border: 2px dotted #ddd;
          padding: 50px;
          border-radius: 12px;
      }

      .icon-container {
          display: flex;
          justify-content: start;
          gap: 50px;
          flex-wrap: wrap;
          max-height: 80vh;
          overflow-y: scroll;
          scrollbar-width: thin;
          padding-top: 20px;
      }

      .icon-container i {
          font-size: 2em;
          cursor: pointer;
          text-align: center;
          width: 1.25em;
      }

      .copied-badge {
          display: none;
          background-color: #4CAF50;
          color: white;
          padding: 5px 10px;
          border-radius: 5px;
          position: absolute;
          top: 10px;
          right: 10px;
      }
  </style>
{% endblock extrastyle %}

{% block right_side_card_content %}
  <div class="card-body">

    <div class="row">
      <div class="col-6 pt-2 pb-3">
        <form method="post" id="home_user_setting_form" action="


                {% if form_type == 'create_new_ui_element' %}{% url 'dashboard:home_wizard_create_new_ui_element' project.uuid home.uuid %}{% elif form_type == 'edit_ui_element' %}{% url 'dashboard:home_wizard_edit_ui_element' project.uuid home.uuid ui_element.ui_base.uuid %}{% endif %}?ui_element_type={{ ui_element_type }}">

          {% csrf_token %}
          <div class="row">
            {{ form.management_form }}
            {% for field in form %}
              {% if field.name == 'add_to_home' %}
                <div class="col-12">

                  <div class="mt-5">
                    <div class="form-label mb-3">{{ field.label }}</div>
                    <label class="form-check form-switch">
                      {{ field }}
                      <span class="form-check-label">If enabled, this UI element added to home page</span>
                    </label>
                  </div>
                </div>
              {% elif field.name == 'on_color' or field.name == 'off_color' %}
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <label class="form-label mt-4">{{ field.label }}</label>
                  {{ field }}
                </div>
              {% elif field.name == 'animation_duration' %}
                <div class="col-12">
                  <label class="form-label mt-4">{{ field.label }} (in miliseconds)</label>
                  {{ field }}
                </div>
              {% elif field.name == "tablet_mode_background_image" %}
                <div class="col-12 mb-3 mt-4">
                  <label class="form-label">{{ form.tablet_mode_background_image.label }}</label>
                  <div class="row g-2">
                      {% for radio in form.tablet_mode_background_image %}
                          <div class="col-6 col-sm-4">
                              <label class="form-imagecheck mb-3">
                                  {{ radio.tag }}
                                  <span class="form-imagecheck-figure" style="display:flex!important;
                                                                                      width: 250px!important;
                                                                                      height: 250px!important;
                                                                                      justify-content: center!important;
                                                                                      align-items: center!important;">
                                                                                      
                                    <img src="{{ radio.choice_label.url }}" alt="Background Image {{ radio.choice_label.id }}" class="form-imagecheck-image">
                                  </span>
                              </label>
                          </div>
                      {% endfor %}
                  </div>
              </div>
              {% else %}
                <div class="col-12">
                  <label class="form-label mt-4">{{ field.label }}</label>
                  {{ field }}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </form>
      </div>

      <div class="col-6 ps-6 pe-4  pb-3">
        <div class="sticky-top pt-4">
          <h4 class="text-center">Click an Icon to Copy it's Code</h4>
          <div class="icons-box-container">
            <div class="icon-container">
              <i class="fa-light fa-bell fa-2xl"></i>
              <i class="fa-light fa-grill-hot fa-2xl"></i>
              <i class="fa-light fa-booth-curtain fa-2xl"></i>
              <i class="fa-light fa-bath fa-2xl"></i>
              <i class="fa-light fa-stairs fa-2xl"></i>
              <i class="fa-light fa-air-conditioner fa-2xl"></i>
              <i class="fa-light fa-snowflake fa-2xl"></i>
              <i class="fa-light fa-mug-saucer fa-2xl"></i>
              <i class="fa-light fa-bed-front fa-2xl"></i>
              <i class="fa-light fa-loveseat fa-2xl"></i>
              <i class="fa-light fa-door-open fa-2xl"></i>
              <i class="fa-light fa-shower fa-2xl"></i>
              <i class="fa-light fa-mailbox fa-2xl"></i>
              <i class="fa-light fa-light-switch fa-2xl"></i>
              <i class="fa-light fa-books fa-2xl"></i>
              <i class="fa-light fa-speaker fa-2xl"></i>
              <i class="fa-light fa-speakers fa-2xl"></i>
              <i class="fa-light fa-chair fa-2xl"></i>
              <i class="fa-light fa-plug fa-2xl"></i>
              <i class="fa-light fa-soap fa-2xl"></i>
              <i class="fa-light fa-blanket fa-2xl"></i>
              <i class="fa-light fa-house-night fa-2xl"></i>
              <i class="fa-light fa-lightbulb fa-2xl"></i>
              <i class="fa-light fa-lamp fa-2xl"></i>
              <i class="fa-light fa-microwave fa-2xl"></i>
              <i class="fa-light fa-knife-kitchen fa-2xl"></i>
              <i class="fa-light fa-blinds-raised fa-2xl"></i>
              <i class="fa-light fa-window-frame-open fa-2xl"></i>
              <i class="fa-light fa-window-frame fa-2xl"></i>
              <i class="fa-light fa-washing-machine fa-2xl"></i>
              <i class="fa-light fa-vent-damper fa-2xl"></i>
              <i class="fa-light fa-vacuum-robot fa-2xl"></i>
              <i class="fa-light fa-vacuum fa-2xl"></i>
              <i class="fa-light fa-utensils-slash fa-2xl"></i>
              <i class="fa-light fa-utensils fa-2xl"></i>
              <i class="fa-light fa-tv-retro fa-2xl"></i>
              <i class="fa-light fa-tv fa-2xl"></i>
              <i class="fa-light fa-toilet-paper-xmark fa-2xl"></i>
              <i class="fa-light fa-toilet-paper-under-slash fa-2xl"></i>
              <i class="fa-light fa-toilet-paper-under fa-2xl"></i>
              <i class="fa-light fa-toilet-paper-slash fa-2xl"></i>
              <i class="fa-light fa-toilet-paper-blank-under fa-2xl"></i>
              <i class="fa-light fa-toilet-paper-blank fa-2xl"></i>
              <i class="fa-light fa-toilet-paper fa-2xl"></i>
              <i class="fa-light fa-toilet fa-2xl"></i>
              <i class="fa-light fa-temperature-arrow-up fa-2xl"></i>
              <i class="fa-light fa-temperature-arrow-down fa-2xl"></i>
              <i class="fa-light fa-tank-water fa-2xl"></i>
              <i class="fa-light fa-stairs fa-2xl"></i>
              <i class="fa-light fa-square-ring fa-2xl"></i>
              <i class="fa-light fa-sprinkler-ceiling fa-2xl"></i>
              <i class="fa-light fa-sprinkler fa-2xl"></i>
              <i class="fa-light fa-spoon fa-2xl"></i>
              <i class="fa-light fa-siren-on fa-2xl"></i>
              <i class="fa-light fa-siren fa-2xl"></i>
              <i class="fa-light fa-sink fa-2xl"></i>
              <i class="fa-light fa-signal-stream fa-2xl"></i>
              <i class="fa-light fa-shutters fa-2xl"></i>
              <i class="fa-light fa-shower-down fa-2xl"></i>
              <i class="fa-light fa-sheet-plastic fa-2xl"></i>
              <i class="fa-light fa-sensor-triangle-exclamation fa-2xl"></i>
              <i class="fa-light fa-sensor-on fa-2xl"></i>
              <i class="fa-light fa-sensor-fire fa-2xl"></i>
              <i class="fa-light fa-sensor-cloud fa-2xl"></i>
              <i class="fa-light fa-sensor fa-2xl"></i>
              <i class="fa-light fa-rug fa-2xl"></i>
              <i class="fa-light fa-refrigerator fa-2xl"></i>
              <i class="fa-light fa-pump-soap fa-2xl"></i>
              <i class="fa-light fa-pump fa-2xl"></i>
              <i class="fa-light fa-plate-utensils fa-2xl"></i>
              <i class="fa-light fa-phone-intercom fa-2xl"></i>
              <i class="fa-light fa-person-to-door fa-2xl"></i>
              <i class="fa-light fa-people-roof fa-2xl"></i>
              <i class="fa-light fa-pan-frying fa-2xl"></i>
              <i class="fa-light fa-oven fa-2xl"></i>
              <i class="fa-light fa-outlet fa-2xl"></i>
              <i class="fa-light fa-mouse-field fa-2xl"></i>
              <i class="fa-light fa-mattress-pillow fa-2xl"></i>
              <i class="fa-light fa-lightbulb-on fa-2xl"></i>
              <i class="fa-light fa-lightbulb-cfl-on fa-2xl"></i>
              <i class="fa-light fa-lightbulb-cfl fa-2xl"></i>
              <i class="fa-light fa-light-switch-on fa-2xl"></i>
              <i class="fa-light fa-light-switch-off fa-2xl"></i>
              <i class="fa-light fa-light-ceiling fa-2xl"></i>
              <i class="fa-light fa-lamp-floor fa-2xl"></i>
              <i class="fa-light fa-lamp-desk fa-2xl"></i>
              <i class="fa-light fa-knife fa-2xl"></i>
              <i class="fa-light fa-kitchen-set fa-2xl"></i>
              <i class="fa-light fa-jug-detergent fa-2xl"></i>
              <i class="fa-light fa-jar-wheat fa-2xl"></i>
              <i class="fa-light fa-jar fa-2xl"></i>
              <i class="fa-light fa-house-user fa-2xl"></i>
              <i class="fa-light fa-house-signal fa-2xl"></i>
              <i class="fa-light fa-house-person-return fa-2xl"></i>
              <i class="fa-light fa-house-person-leave fa-2xl"></i>
              <i class="fa-light fa-house-lock fa-2xl"></i>
              <i class="fa-light fa-house-laptop fa-2xl"></i>
              <i class="fa-light fa-house-heart fa-2xl"></i>
              <i class="fa-light fa-house-fire fa-2xl"></i>
              <i class="fa-light fa-house-day fa-2xl"></i>
              <i class="fa-light fa-house-chimney-window fa-2xl"></i>
              <i class="fa-light fa-house-chimney-user fa-2xl"></i>
              <i class="fa-light fa-house-chimney-heart fa-2xl"></i>
              <i class="fa-light fa-hose-reel fa-2xl"></i>
              <i class="fa-light fa-hose fa-2xl"></i>
              <i class="fa-light fa-heat fa-2xl"></i>
              <i class="fa-light fa-grill-fire fa-2xl"></i>
              <i class="fa-light fa-grill fa-2xl"></i>
              <i class="fa-light fa-garage-open fa-2xl"></i>
              <i class="fa-light fa-garage-car fa-2xl"></i>
              <i class="fa-light fa-garage fa-2xl"></i>
              <i class="fa-light fa-fork-knife fa-2xl"></i>
              <i class="fa-light fa-fork fa-2xl"></i>
              <i class="fa-light fa-flashlight fa-2xl"></i>
              <i class="fa-light fa-fireplace fa-2xl"></i>
              <i class="fa-light fa-fire-hydrant fa-2xl"></i>
              <i class="fa-light fa-fire-burner fa-2xl"></i>
              <i class="fa-light fa-faucet-drip fa-2xl"></i>
              <i class="fa-light fa-faucet fa-2xl"></i>
              <i class="fa-light fa-fan-table fa-2xl"></i>
              <i class="fa-light fa-fan fa-2xl"></i>
              <i class="fa-light fa-dungeon fa-2xl"></i>
              <i class="fa-light fa-dryer-heat fa-2xl"></i>
              <i class="fa-light fa-dryer fa-2xl"></i>
              <i class="fa-light fa-door-closed fa-2xl"></i>
              <i class="fa-light fa-couch fa-2xl"></i>
              <i class="fa-light fa-computer fa-2xl"></i>
              <i class="fa-light fa-coffee-pot fa-2xl"></i>
              <i class="fa-light fa-clothes-hanger fa-2xl"></i>
              <i class="fa-light fa-clock-desk fa-2xl"></i>
              <i class="fa-light fa-circle-sort-up fa-2xl"></i>
              <i class="fa-light fa-circle-sort-down fa-2xl"></i>
              <i class="fa-light fa-circle-sort fa-2xl"></i>
              <i class="fa-light fa-chopsticks fa-2xl"></i>
              <i class="fa-light fa-chair-office fa-2xl"></i>
              <i class="fa-light fa-camera-web fa-2xl"></i>
              <i class="fa-light fa-camera-security fa-2xl"></i>
              <i class="fa-light fa-camera-cctv fa-2xl"></i>
              <i class="fa-light fa-box-tissue fa-2xl"></i>
              <i class="fa-light fa-bowl-spoon fa-2xl"></i>
              <i class="fa-light fa-block-brick-fire fa-2xl"></i>
              <i class="fa-light fa-block-brick fa-2xl"></i>
              <i class="fa-light fa-blinds-open fa-2xl"></i>
              <i class="fa-light fa-blinds fa-2xl"></i>
              <i class="fa-light fa-blender fa-2xl"></i>
              <i class="fa-light fa-blanket-fire fa-2xl"></i>
              {#            <i class="fa-light fa-bin-recycle fa-2xl"></i>#}
              {#            <i class="fa-light fa-bin-bottles-recycle fa-2xl"></i>#}
              {#            <i class="fa-light fa-bin-bottles fa-2xl"></i>#}
              {#            <i class="fa-light fa-bell-ring fa-2xl"></i>#}
              <i class="fa-light fa-bell-on fa-2xl"></i>
              <i class="fa-light fa-bed-empty fa-2xl"></i>
              <i class="fa-light fa-bed-bunk fa-2xl"></i>
              <i class="fa-light fa-bed fa-2xl"></i>
              {#            <i class="fa-light fa-bag-seedling fa-2xl"></i>#}
              <i class="fa-light fa-arrow-up-from-water-pump fa-2xl"></i>
              <i class="fa-light fa-air-conditioner fa-2xl"></i>
              <span class="text-muted" style="font-size: larger">for more icon visit <a
                      href="https://fontawesome.com/icons/" target="_blank">FontAweSome website</a></span>
            </div>
            <div class="copied-badge" id="copied-badge">Copied!</div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="card-footer bg-transparent mt-auto">
    <div class="btn-list justify-content-end">
      <a href="{% url 'dashboard:home_wizard_all_ui_elements' project.uuid home.uuid %}" class="btn">Cancel</a>
      <button type="submit" form="home_user_setting_form" class="btn btn-primary">Submit</button>
    </div>
  </div>

{% endblock right_side_card_content %}


{% block extrajs %}
  <script src="{% static 'coloris/coloris.min.js' %}"></script>
  {#  <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>#}
  <script>
      document.querySelectorAll('.icon-container i').forEach(icon => {
          icon.addEventListener('click', function () {
              // Get the class list of the clicked icon
              const classes = Array.from(this.classList).join(' ');
              // Generate the HTML code
              const code = `<i class="${classes}"></i>`;

              // Copy the code to clipboard using Clipboard API
              navigator.clipboard.writeText(code).then(() => {
                  // Show the badge
                  const badge = document.getElementById('copied-badge');
                  badge.style.display = 'block';
                  setTimeout(() => {
                      badge.style.display = 'none';
                  }, 2000);
              }).catch(err => {
                  console.error('Failed to copy text: ', err);
              });
          });
      });
  </script>

  {#  <script>#}
  {#      document.addEventListener("DOMContentLoaded", function () {#}
  {#      	window.Coloris && (Coloris({#}
  {#      		el:  "#colorpicker-off-color",#}
  {#      		selectInput: false,#}
  {#            theme: 'default',#}
  {#      		alpha: false,#}
  {#      		format: "hex",#}
  {#            defaultColor: '#45aaf2',#}
  {#      		swatches: [#}
  {#      			"#066fd1",#}
  {#      			"#45aaf2",#}
  {#      			"#6574cd",#}
  {#      			"#a55eea",#}
  {#      			"#f66d9b",#}
  {#      			"#fa4654",#}
  {#      			"#fd9644",#}
  {#      			"#f1c40f",#}
  {#      			"#7bd235",#}
  {#      			"#5eba00",#}
  {#      			"#2bcbba",#}
  {#      			"#17a2b8",#}
  {#      		],#}
  {#      	}))#}
  {#      })#}
  {#    </script>#}
  {##}
  {#      <script>#}
  {#      // @formatter:off#}
{#      document.addEventListener("DOMContentLoaded", function () {#}
{#      	window.Coloris && (Coloris({#}
{#      		el:  "#colorpicker-on-color",#}
{#      		selectInput: false,#}
{#      		alpha: false,#}
{#      		format: "hex",#}
{#      		swatches: [#}
{#      			"#066fd1",#}
{#      			"#45aaf2",#}
{#      			"#6574cd",#}
{#      			"#a55eea",#}
{#      			"#f66d9b",#}
{#      			"#fa4654",#}
{#      			"#fd9644",#}
{#      			"#f1c40f",#}
{#      			"#7bd235",#}
{#      			"#5eba00",#}
{#      			"#2bcbba",#}
{#      			"#17a2b8",#}
{#      		],#}
{#      	}))#}
{#      })#}
{#      // @formatter:on#}
  {#    </script>#}

  <script>
      Coloris({
          el: '.coloris',
          swatches: [
              '#264653',
              '#2a9d8f',
              '#e9c46a',
              '#f4a261',
              '#e76f51',
              '#d62828',
              '#023e8a',
              '#0077b6',
              '#0096c7',
              '#00b4d8',
              '#48cae4'
          ]
      });

      /** Instances **/

      Coloris.setInstance('.instance1', {
          theme: 'pill',
          themeMode: 'dark',
          formatToggle: true,
          closeButton: true,
          clearButton: true,
          swatches: [
              '#FFADAD',
                '#FFD6A5',
                '#FDFFB6',
                '#CAFFBF',
                '#9BF6FF',
                '#A0C4FF',
                '#BDB2FF',
                '#BDB2FF',
                '#FFC6FF',
          ]
      });

      Coloris.setInstance('.instance2', {
          theme: 'pill',
          themeMode: 'dark',
          formatToggle: true,
          closeButton: true,
          clearButton: true,
          swatches: [
              '#FFADAD',
                '#FFD6A5',
                '#FDFFB6',
                '#CAFFBF',
                '#9BF6FF',
                '#A0C4FF',
                '#BDB2FF',
                '#BDB2FF',
                '#FFC6FF',
          ]
      });

  </script>


{% endblock extrajs %}