
<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title">System Resource Usage</h5>
                <div id="combined_usage_chart"></div>                    
            </div>
        </div>
    </div>

    {% comment %} <div class="col-md-12 mb-3">
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card shadow">
                    <div class="card-body">
                        <div id="ram_usage_chart"></div>                    
                    </div>
                </div>
            </div>
  

   
            <div class="col-md-6 mb-3">
                <div class="card shadow">
                    <div class="card-body">
                        <div id="disk_usage_chart"></div>                    
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}

</div>
