{% extends 'dashboard/layouts/base.html' %}
{% load static %}

{% block title %}edit home - {% endblock title %}
{% block body %}layout-fluid{% endblock body %}

{% block content %}

  <div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
              {% if form_type == 'create_new_home' %}
              Create
              {% else %}
              Edit
              {% endif %}
              new home
            </h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">
        <!-- Content here -->
        <div class="card">
          <form method="post" enctype="multipart/form-data" action="{% if form_type == 'create_new_home' %}
                                                                      {% url 'dashboard:create_new_home' project_uuid  %}
                                                                    {% else %}
                                                                      {% url 'dashboard:edit_home' project_uuid home_uuid %}
                                                                    {% endif %}">

            <div class="card-body">

              {% csrf_token %}

              <div class="row">


                {% for field in forms %}

                  {% if field.name == 'building' or field.name == 'floor' or field.name == 'unit' or field.name == 'owner_phone_number' %}
            <div class="col-3 mt-4">
              <label class="form-label">{{ field.label }}</label>
              {{ field }}
            </div>
          {% elif field.name == 'descriptions' %}

            <div class="col-12 mt-4 mb-4">
              <label class="form-label">{{ field.label }}</label>
              {{ field }}
            </div>
          {% else %}
            <div class="col-6">
              <label class="form-label mt-4">{{ field.label }}</label>
              {{ field }}
            </div>
          {% endif %}


                {% endfor %}

              </div>
            </div>
            <div class="card-footer d-flex ">
              <a href="{% url 'dashboard:project_all_homes' project_uuid %}" class="btn btn-link" type="submit">Cancel</a>
              <button class="btn btn-primary ms-auto" type="submit">submit</button>
            </div>

          </form>

        </div>
      </div>
    </div>
    {% include 'includes/footer.html' %}
  </div>

{% endblock content %}