{% load static %}

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
<meta name="csrf-token" content="{{ csrf_token }}">
{#<link rel="shortcut icon" type="image/jpg" href="{% static 'static/favicon.ico' %}"/>#}
<!-- CSS files -->
<link href="{% static 'dashboard/static/dist/css/tabler.min.css' %}?1684106062" rel="stylesheet"/>
{#<link href="{% static 'dist/css/tabler-flags.min.css' %}?1684106062" rel="stylesheet"/>#}
{#<link href="{% static 'dist/css/tabler-payments.min.css' %}?1684106062" rel="stylesheet"/>#}
{#<link href="{% static 'dist/css/tabler-vendors.min.css' %}?1684106062" rel="stylesheet"/>#}
<link href="{% static 'dashboard/static/dist/css/demo.min.css' %}?1684106062" rel="stylesheet"/>



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">


<style>
    {#@import url('https://rsms.me/inter/inter.css');#}
    :root {
    --tblr-font-sans-serif: 'Roboto', 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    }
    body {
    }
</style>
