<div class="scene-automation-rules-section sub-page active-sub-page mt-3">
              <div class="row">
                <div class="col-12">
                  <div class="scene-rule-card row" data-scene-automation-rule-id="1">
                    <div class="col-9 scene-rule-card-detail-section">
                      <div class="icon-section d-flex align-items-end">
                      </div>
                      <div class="text-section">
                        <div class="big-text">automation rule title</div>
                        <div class="little-text"><span id="status">automation rule conditions and actions summary</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-3 d-flex  justify-content-end scene-rule-card-action-section">
                      <div class="d-flex flex-column">
                        <div class="edit-icon">
                          <i class="fa-solid fa-ellipsis-vertical fa-xl"></i>
                        </div>
                        <div class="rule-status-switch-container">
                          <div class="rule-status-switch">
                            <input type="checkbox" class="checkbox" id="checkbox">
                            <label class="switch" for="checkbox">
                              <span class="slider"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

<div class="scene-tap-to-run-rules-section sub-page mt-3">
  <div class="row">
    <div class="col-12">
      <div class="row scene-rule-card" data-scene-tap-to-run-rule-id="1">
        <div class="col-9 scene-rule-card-detail-section">
          <div class="icon-section">
          </div>
          <div class="text-section d-flex flex-column align-items-start">
            <div class="big-text">tap to run rule name</div>
          </div>
        </div>
        <div class="col-3 d-flex  justify-content-end scene-rule-card-action-section">
          <div class="edit-icon">
            <i class="fa-solid fa-ellipsis-vertical fa-xl"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





