<style>
    .symbol {
  display:inline-block;
  flex-shrink:0;
  position:relative;
  border-radius:.475rem
}
.symbol .symbol-label {
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:500;
  color:var(--bs-symbol-label-color);
  background-color:var(--bs-symbol-label-bg);
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
  border-radius:.475rem
}
.symbol .symbol-label:after {
  border-radius:.475rem
}
</style>
<div class="col-xl-4">
    <!--begin::Mixed Widget 14-->
    <div class="card card-xxl-stretch mb-xl-8 theme-dark-bg-body" style="background-color: #CBF0F4">
        <!--begin::Body-->
        <div class="card-body d-flex flex-column">
            <!--begin::Wrapper-->
            <div class="d-flex flex-column mb-7">
                <!--begin::Title-->
                <a href="#" class="text-gray-900 text-hover-primary fw-bold fs-3">Summary</a>
                <!--end::Title-->
            </div>
            <!--end::Wrapper-->

            <!--begin::Row-->
            <div class="row g-0">
                <!--begin::Col-->
                <div class="col-6">
                    <div class="d-flex align-items-center mb-9 me-2">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40px me-3">
                            <div class="symbol-label bg-light">
                                <i class="ki-duotone ki-abstract-42 fs-1 text-gray-900"><span class="path1"></span><span
                                        class="path2"></span></i>
                            </div>
                        </div>
                        <!--end::Symbol-->

                        <!--begin::Title-->
                        <div>
                            <div class="fs-5 text-gray-900 fw-bold lh-1">$50K</div>
                            <div class="fs-7 text-gray-600 fw-bold">Sales</div>
                        </div>
                        <!--end::Title-->
                    </div>
                </div>
                <!--end::Col-->

                <!--begin::Col-->
                <div class="col-6">
                    <div class="d-flex align-items-center mb-9 ms-2">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40px me-3">
                            <div class="symbol-label bg-light">
                                <i class="ki-duotone ki-abstract-45 fs-1 text-gray-900"><span class="path1"></span><span
                                        class="path2"></span></i>
                            </div>
                        </div>
                        <!--end::Symbol-->

                        <!--begin::Title-->
                        <div>
                            <div class="fs-5 text-gray-900 fw-bold lh-1">$4,5K</div>
                            <div class="fs-7 text-gray-600 fw-bold">Revenue</div>
                        </div>
                        <!--end::Title-->
                    </div>
                </div>
                <!--end::Col-->

                <!--begin::Col-->
                <div class="col-6">
                    <div class="d-flex align-items-center me-2">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40px me-3">
                            <div class="symbol-label bg-light">
                                <i class="ki-duotone ki-abstract-21 fs-1 text-gray-900"><span class="path1"></span><span
                                        class="path2"></span></i>
                            </div>
                        </div>
                        <!--end::Symbol-->

                        <!--begin::Title-->
                        <div>
                            <div class="fs-5 text-gray-900 fw-bold lh-1">40</div>
                            <div class="fs-7 text-gray-600 fw-bold">Tasks</div>
                        </div>
                        <!--end::Title-->
                    </div>
                </div>
                <!--end::Col-->

                <!--begin::Col-->
                <div class="col-6">
                    <div class="d-flex align-items-center ms-2">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40px me-3">
                            <div class="symbol-label bg-light">
                                <i class="ki-duotone ki-abstract-44 fs-1 text-gray-900"><span class="path1"></span><span
                                        class="path2"></span></i>
                            </div>
                        </div>
                        <!--end::Symbol-->

                        <!--begin::Title-->
                        <div>
                            <div class="fs-5 text-gray-900 fw-bold lh-1">$5.8M</div>
                            <div class="fs-7 text-gray-600 fw-bold">Sales</div>
                        </div>
                        <!--end::Title-->
                    </div>
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
        </div>
    </div>
    <!--end::Mixed Widget 14-->
</div>

















<div class="row">

    <div class="col-4 fadeInUpAnimation">
      <!--begin::Mixed Widget 14-->
      <div class="card mb-3"  style="background-color: rgba(99, 230, 191, 0.247);">
          <!--begin::Body-->
          <div class="card-header">
            <h3 class="card-title">Summary</h3>
          </div>
          <div class="card-body d-flex flex-column">
              <!--begin::Wrapper-->
              
              <!--end::Wrapper-->
  
              <!--begin::Row-->
              <div class="row g-0 mt-3">
                  <!--begin::Col-->
                  <div class="col-6">
                      <div class="d-flex align-items-center mb-3 me-2">
                          <!--begin::Symbol-->
                          <div class="symbol symbol-40px me-2">
                              <div class="symbol-label">
                                <i class="fa-light fa-house-building fa-2xl"></i>
                              </div>
                          </div>
                          <!--end::Symbol-->
  
                          <!--begin::Title-->
                          <div>
                              <div class="fs-5 text-gray-900 fw-bold lh-1">$50K</div>
                              <div class="fs-7 text-gray-600 fw-bold">Sales</div>
                          </div>
                          <!--end::Title-->
                      </div>
                  </div>
                  <!--end::Col-->
  
                  <!--begin::Col-->
                  <div class="col-6">
                      <div class="d-flex align-items-center mb-3 ms-2">
                          <!--begin::Symbol-->
                          <div class="symbol symbol-40px me-2">
                              <div class="symbol-label">
                                <i class="fa-regular fa-house fa-2xl" style="color: #63E6BE;"></i>
                              </div>
                          </div>
                          <!--end::Symbol-->
  
                          <!--begin::Title-->
                          <div>
                              <div class="fs-5 text-gray-900 fw-bold lh-1">200</div>
                              <div class="fs-7 text-gray-600 fw-bold">Number of Homes</div>
                          </div>
                          <!--end::Title-->
                      </div>
                  </div>
                  <!--end::Col-->
  
                  <!--begin::Col-->
                  <div class="col-6">
                      <div class="d-flex align-items-center me-2">
                          <!--begin::Symbol-->
                          <div class="symbol symbol-40px me-2">
                              <div class="symbol-label">
                                  <i class="ki-duotone ki-abstract-21 fs-1 text-gray-900"><span class="path1"></span><span
                                          class="path2"></span></i>
                              </div>
                          </div>
                          <!--end::Symbol-->
  
                          <!--begin::Title-->
                          <div>
                              <div class="fs-5 text-gray-900 fw-bold lh-1">40</div>
                              <div class="fs-7 text-gray-600 fw-bold">Tasks</div>
                          </div>
                          <!--end::Title-->
                      </div>
                  </div>
                  <!--end::Col-->
  
                  <!--begin::Col-->
                  <div class="col-6">
                      <div class="d-flex align-items-center ms-2">
                          <!--begin::Symbol-->
                          <div class="symbol symbol-40px me-2">
                              <div class="symbol-label">
                                  <i class="ki-duotone ki-abstract-44 fs-1 text-gray-900"><span class="path1"></span><span
                                          class="path2"></span></i>
                              </div>
                          </div>
                          <!--end::Symbol-->
  
                          <!--begin::Title-->
                          <div>
                              <div class="fs-5 text-gray-900 fw-bold lh-1">$5.8M</div>
                              <div class="fs-7 text-gray-600 fw-bold">Sales</div>
                          </div>
                          <!--end::Title-->
                      </div>
                  </div>
                  <!--end::Col-->
              </div>
              <!--end::Row-->
          </div>
      </div>
      <!--end::Mixed Widget 14-->
  </div>

</div>
