:root {
  --temp-hue: 200;
  --temp-alpha: 100%;
  --temp-rotation: 180deg;
}


.modal#curtain-modal .modal-dialog .modal-content {
    background-color: var(--tblr-secondary-bg) !important;
}

.modal#curtain-modal .modal-dialog .modal-content .modal-body{
    background-color: var(--tblr-secondary-bg) !important;
}


/** {*/
/*  box-sizing: border-box;*/
/*}*/

/*body {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  height: 100vh;*/
/*  padding: 2rem;*/
/*  margin: 0;*/
/*  align-items: center;*/
/*  justify-content: space-evenly;*/
/*  background-color: #dcebf3;*/
/*  font-family: "Work Sans";*/
/*}*/


.thermostat-modal-body {
  max-height: 85vh;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
 }

 .thermostat-modal-body::-webkit-scrollbar-track {
      background: transparent;
  }
  .thermostat-modal-body::-webkit-scrollbar-thumb {
      background: transparent;
  }
  .thermostat-modal-body::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
  }

.temperature-knob-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 260px;
  /*border-radius: 40px;*/
  /*background-color: #fff;*/
  flex: 0 0 auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.dial-container {
  position: relative;
  top: -10px;
}

.dial {
  filter: drop-shadow(
    0px 0px 35px hsla(var(--temp-hue), 80%, 80%, var(--temp-alpha))
  );
  position: relative;
  z-index: 2;
  user-select: none;
}

.dial__tick {
  stroke: rgba(0, 0, 0, 0.6);
  stroke-width: 1;
}

[data-bs-theme="dark"] .dial__tick {
  stroke: rgba(222, 222, 222, 0.5);
  stroke-width: 1;
}

[data-bs-theme="light"] .dial__center {
  fill: #fff;
/*   filter: drop-shadow(20px 30px 40px rgb(10, 10, 10)); */
}

[data-bs-theme="dark"] .dial__center {
  fill: var(--tblr-tertiary-bg);
/*   filter: drop-shadow(20px 30px 40px rgb(10, 10, 10)); */
}

.dial__temp {
  font-size: 2.5rem;
  font-weight: 400;
  background-color: var(--color-snow);
  dominant-baseline: central;
  font-variant-numeric: tabular-nums;
}

.dial__track {
  fill: none;
  transform-origin: 50% 50%;
}

.dial__temp-units {
  fill: rgba(var(--tblr-secondary-color-rgb), 0.5);
}

[data-bs-theme="dark"] #temp-display {
  fill: var(--tblr-body-color);
}

.dial__dot {
  fill: #29273e;
  cursor: move;
}

[data-bs-theme="dark"] .dial__dot {
  fill: #e1e1e1;

}

.dial__control {
  transform: rotate(var(--temp-rotation));
  transform-origin: 50% 50%;
}

.slider-container {
  padding: 0.5rem 2rem;
}

.slider {
  display: block;
  width: 100%;
}




:root {
  --primary-color: #185ee0;
  --secondary-color: rgba(191, 227, 245, 0.8);
  --height-unit-size : calc(100vh / 100);
  --width-unit-size : calc(100vw / 100);
}
/**,*/
/**:after,*/
/**:before {*/
/*  box-sizing: border-box;*/
/*}*/
/*body {*/
/*  font-family: "Inter", sans-serif;*/
/*  background-color: rgba(230, 238, 249, 0.5);*/
/*}*/



.thermostat-control-buttons-container {
  background-color: var(--tblr-body-bg);
  /*border: rgba(3,83,101,0.8) solid;*/
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border: 1px solid rgba(17, 17, 26, 0.15);
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  padding-bottom: 1.75rem;
}

.thermostat-control-buttons-container .ccc {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5vh;
  margin-top: 3.5rem;
}

.thermostat-control-buttons-container .fff {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
}

.thermostat-control-buttons-container .container12 {
  /*position: absolute;*/
  /*left: 0;*/
  /*top: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thermostat-control-buttons-container .tabs12 {
  /*transform: scale(0.53);*/
  display: flex;
  position: relative;
  background-color: var(--tblr-body-bg);
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.5rem;
  border-radius: 20px;
}

[data-bs-theme="dark"] .thermostat-control-buttons-container .tabs12 {
  background-color: var(--tblr-gray-800);
}
.thermostat-control-buttons-container .tabs12 * {
  z-index: 2;
}
.thermostat-control-buttons-container input[type="radio"] {
  display: none;
}
.thermostat-control-buttons-container .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  width: 20vw;
  font-size: 0.9rem;
  font-weight: 900;
  border-radius: 20px;
  cursor: pointer;
  transition: color 0.15s ease-in;
  color: var(--tblr-body-color)
}
.thermostat-control-buttons-container .notification12 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-left: 0.75rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  transition: 0.15s ease-in;
}
.thermostat-control-buttons-container input[type="radio"]:checked + label {
  color: var(--primary-color);
}
.thermostat-control-buttons-container input[type="radio"]:checked + label > .notification {
  background-color: var(--primary-color);
  color: #fff;
}
.thermostat-control-buttons-container input[id="radio-heat"]:checked ~ .glider {
  transform: translateX(0);
  background-color: rgba(248,212,209,0.8);
}
.thermostat-control-buttons-container input[id="radio-heat"]:checked + label {
  color: #ef2f2f;
}
.thermostat-control-buttons-container input[id="radio-cool"]:checked ~ .glider {
  transform: translateX(100%);
}




.thermostat-control-buttons-container input[id="radio-low"]:checked ~ .glider {
  transform: translateX(0);
}
.thermostat-control-buttons-container input[id="radio-medium"]:checked ~ .glider {
  transform: translateX(100%);
}
.thermostat-control-buttons-container input[id="radio-high"]:checked ~ .glider {
  transform: translateX(200%);
}
.thermostat-control-buttons-container input[id="radio-auto"]:checked ~ .glider {
  transform: translateX(300%);
}


.thermostat-control-buttons-container .glider {
  position: absolute;
  display: flex;
  height: 5vh;
  width: 20vw;
  background-color: var(--secondary-color);
  z-index: 1;
  border-radius: 15px;
  transition: 0.25s ease-out;
}
@media (max-width: 700px) {
  .thermostat-control-buttons-container .tabs {
    transform: scale(0.6);
  }
}



.thermostat-control-buttons-container .bbb {
  /*height: 50px;*/

  width: calc(var(--width-unit-size) * 35);
  height: calc(var(--height-unit-size) * 6.9);
  background-color: #4adca6;
  border-radius: 15px;
  border: 0;
  font-size: 0.9rem;
  font-weight: 900;
  color: var(--color-white);
}


.thermostat-control-buttons-container .thermostat-power-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -8px;

  /*background-color: var(--color-green);*/

  /*background-color: var(--color-pink);*/

}


.thermostat-control-buttons-container .bbb:active {

  background-color: var(--color-pink);
}





