
@font-face {
    font-family: "YekanBakh";
    src: url("../fonts/YekanBakhFaNum-VF.woff2");
}
@font-face {
    font-family: "JetBrains";
    src: url("../fonts/JetBrainsMono-VariableFont_wght.ttf");
}
code, kbd, samp { font-family: 'JetBrains'!important; }
[type=email], [type=number], [type=url] { direction: rtl; }
/* .btn { --bs-btn-border-color: unset; } */
body,input,.tooltip,.tooltip-inner,.irs {font-family: 'YekanBakh'; }
.card-body { padding: 1.25rem; }
.txt { text-align: right; }
.accordion .main_item .-arrwo { right: unset; left: 20px; }
.sidebarMenu.-left.fade .modal-dialog { right: -320px; left: unset; }
.sidebarMenu.-left.fade.show .modal-dialog { right: 0; left: unset; }
.media { display: flex; align-items: flex-start; }
.media-body { flex: 1; }
.btn.active { border-color: transparent; }
.em_main_footer.with__text .em_body_navigation .item_link .btn_navLink::after { margin-right: 12px; margin-left: unset; }
.emPage__public .block_page_Comp .item .txt { padding-right: 18px; padding-left: unset; }
.emBK__transactions .item_trans .sideLeft .icon_img { margin-left: 18px; margin-right: unset; }
.em_owl_swipe .em_item .em_cover_img .em_text { right: 20px; left: unset; }
.sidebarMenu.-left .modal-dialog .modal-content .modal-header .close { right: 260px; left: unset; }
.sidebarMenu.-left .modal-dialog .modal-content .modal-header .em_profile_user .letter { margin-left: 12px; margin-right: unset; }
.sidebarMenu.-left .modal-dialog .modal-content .modal-body .nav .nav-item .nav-link::before { right: 0; left: unset; }
.sidebarMenu.-left .modal-dialog .modal-content .modal-body .nav .nav-item .nav-link { padding: 15px 20px 15px 40px; }
.sidebarMenu.-left .modal-dialog .modal-content .modal-body .nav .nav-item .nav-link::after {
    right: 0;
    left: unset;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.sidebarMenu.-left .modal-dialog .modal-content .modal-body .nav .nav-item .nav-link .title_link { padding-right: 35px; padding-left: unset; }
.em__pkLink .nav__list li .item-link .icon { margin-left: 15px; margin-right: unset; }
.em__pkLink .nav__list li .item-link .-arrwo { margin-right: 10px; margin-left: unset; }
.emPage___profile .emBody__navLink ul .item .nav-link .ico { margin-left: 15px; margin-right: unset; }
.modal.defaultModal .modal-header .close { border: none; }
.itemProduct_sm .imgProd { margin-left: 12px; margin-right: unset; }
.mdlladd__rate .modal-body .input_reviews .form-group .short-and-sweet-counter { left: 0; right: unset; }
.mdll_removeStand .content__remove .icon { margin-left: 15px; margin-right: unset; }
.emPage___profile .emBody__navLink ul .item .nav-link .side_right .number_item { margin-left: 20px; margin-right: unset; }
.form-group.with_icon .input_group .form-control { padding-right: 50px; padding-left: unset; }
.form-group.with_icon .input_group .icon { right: 18px; left: unset; }
.form-group .input_group .icon_password { left: 18px; right: unset; }
.emBK__buttonsShare .btn .icon { margin-left: 15px; margin-right: unset; }
.btn__default .icon { left: 12px; right: unset; }
.course__list .em_itemCourse_grid.list .card .cover_card .card-img-top {
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.course__list .em_itemCourse_grid.list .card .card-body .icon_play,
.course__list .em_itemCourse_grid.list .card .card-body .itemCircle { left: 15px; right: unset; }
.emCoureses__grid .em_bodyCarousel .em_itemCourse_grid .card .icon_play { left: 20px; right: unset; }
.course__list .em_itemCourse_grid.list .card .card-body .itemCircle input { right: 45px; }
.emCoureses__grid .em_bodyCarousel .em_itemCourse_grid .card .card-body .card_user svg { margin-left: 5px; margin-right: unset; }
.em_item_product .em_head .btn_addBookmark { left: 12px; right: unset; }
.em_item_product .em_head .item_discount {
    right: 0;
    left: unset;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.em_item_product .title_product .btn_addCart { left: 0; right: unset; }
.em_item_product .title_product .btn_addCart.-active .txt_added { left: 35px; right: unset; }
.em_item_product .title_product .btn_addCart .txt_added { left: 30px; right: unset; }
.em_list_layout.widthFull .item_list .title_product .btn_addCart,
.em_list_layout.widthFull .item_list .title_product .btn_addBookmark { left: 20px; right: unset; }
.em_list_layout .item_list .title_product .btn_addCart { left: 15px; right: unset; }
.em_list_layout .item_list .title_product .itemRating .number { margin-left: 6px; margin-right: unset; }
.em_list_layout .item_list .em_head .image_product { margin-left: 15px; margin-right: unset; }
.em_list_layout.widthFull .item_list .title_product h3 { padding-left: 25px; padding-right: unset; }
.emPage__wishlist .em_item_product .title_product .btn__removeProduct { left: 20px; right: unset; }
.emPage__basket .item_to_product .embody_product { margin-right: 20px; margin-left: unset; }
.emPage__basket .item_to_product .embody_product .__quantity { margin-left: 8px; margin-right: unset; }
.pt_simpleDetails .em_bodyinner .embkRateCustomer .emBoxRating .progress__rate .item .circle,
.pt_simpleDetails .em_bodyinner .embkRateCustomer .emBoxRating .progress__rate .item .txt { margin-right: 8px; margin-left: unset; }
.emCommentCusomers .itemUser .x_img { margin-left: 12px; margin-right: unset; }
.emCommentCusomers .itemUser .txt_details .username { margin-left: 8px; margin-right: unset; }
.pt_simpleDetails .em_bodyinner .emCommentCusomers .actionAdd .btn span { margin-right: 5px; margin-left: unset; }
.emCommentCusomers .itemUser .no_img { margin-left: 12px; margin-right: unset; }
.form-group .form-control.is-valid,.form-group .form-control.is-invalid { background-position: left calc(52px - 35px) center;  }
.form-group.inputDefault-animated .group_anime label { right: 20px; left: unset; }
.form-group.lined__iconed .input_group .icon { right: 5px; left: unset; }
.form-group.lined__iconed .input_group .form-control { padding-right: 30px; padding-left: unset; }
.embox__avatar .emitem_avt { margin-left: 20px; margin-right: unset; }
.embox__avatar .txt__upload .btnUpload__item .btn_uploadImage { padding: 0 0 0 8px; }
.form-group .custom-select { background-position-x: calc(8% - 16px); }
.em__itemList_jobs .img_logo { margin-left: 15px; margin-right: unset; }
.em__itemList_jobs,.emPage__CateJobs ._list { text-align: right; }
.emPage__CateJobs ._list .txt { margin-right: 15px; margin-left: unset; }
.emPage__CateJobs ._list::after,.em__subCategories_items .itemSub_cg::before { right: unset; left: 20px; content: "\e9b2"; }
.em__subCategories_items .itemSub_cg .icon { margin-left: 15px; margin-right: unset; }
.emPage__shippingAddress .nav__listAddress .item .areaRight .label_default { margin-left: 10px; margin-right: unset; }
.item__activiClassic .icon { margin-left: 15px; margin-right: unset; }
.toast__network .content .text i { margin-left: 8px; margin-right: unset; }
.input_SaerchDefault .side_voice { left: 6px; right: unset; border-right: 1px solid var(--border-snow); border-left: unset; padding-right: 4px; padding-left: unset; }
._creative .item__activiClassic .img_user { margin-left: 15px; margin-right: unset; }
.emPage__basket .itemPkg_cart .icon { margin-left: 20px; margin-right: unset; }
.emPage__detailsCourse .em__header .user_publish span { margin-right: 5px; margin-left: unset; }
.emPage__detailsCourse .em__content .itemCourse { text-align: right; }
.emPage__detailsCourse .em__content .itemCourse .icon { margin-left: 20px; margin-right: unset; }
.emPage__detailsCourse .em__content .itemCourse .txt .bk_progress span { margin-left: unset; margin-right: 8px; }
.emPage__detailsCourse .em__requirements .item_list { margin-right: 15px; margin-left: unset; }
.emPage__detailsCourse .em__certification .box::before { left: 0; right: unset; transform: scaleX(-1); }
.emPage__chat .block__people .item_user .img_user{ margin-left: 12px; margin-right: unset; }
.head_conversation .item_userChat .img-user { margin-left: 15px; margin-right: unset; }
.emPage__conversation .item_user .imgProfile { margin-left: 12px; margin-right: unset; }
.emPage__detailsJobs .em_footerinner .emfo_button.__withIcon .icon_current { margin-left: 7px; margin-right: unset; }
.em__signTypeOne.typeTwo .em_titleSign { text-align: right; }
input[type='tel']{ direction: ltr; padding-left: 30px!important; padding-right: unset!important; }
.border-text .text { padding: 0 0 0 15px; }
.background_header.style_three .balance_two .btn{ text-align: right; }
.background_header.style_three .balance_two .txt{ margin-right: 15px; margin-left: unset; }
.box__dashboard .item_link .icon{ margin-left: 10px; margin-right: unset; }
.em_item_product .title_product .btn_addCart .txt_added { white-space: nowrap; }
.em_pk_banner .em_bannen_ads .em_textBanner{ right: 20px; left: unset; }
.npButtons_networks .btn .icon { right: 20px; left: unset; }
.emPage__invoiceDetails .embody__invoice .footer__detailsTable .txtDetails { text-align: left; }
.emPage__language .item::before { left: 20px; right: unset; }
.emPage__savingsWallet .emBK__save .ele .item_progress { margin-left: 13px; margin-right: unset; }
.emPage__savingsWallet .emBK__save .ele .item_progress input { right: 47px; font-family: 'YekanBakh'; }
.itemList__news .items-nav .btn .txt .time span, .itemList__news .items-nav .btn .txt .view span { margin-right: 5px; margin-left: unset; }
.itemList__news .items-nav .btn .txt .info_bottom .time { margin-left: 18px; margin-right: unset; }
.itemList__news .items-nav .btn .img_news { margin-left: 15px; margin-right: unset; }
.emPage__detailsBlog .emheader_cover .item__auther .item_person img { margin-left: 12px; margin-right: unset; }
.emPage__detailsBlog .emheader_cover .item__auther .sideRight .time span,
.emPage__detailsBlog .emheader_cover .item__auther .sideRight .view span { margin-right: 5px; margin-left: unset; }
.pt_simpleDetails .em_bodyinner .emCommentCusomers .actionAdd .btn { padding: 5px 0 5px 10px; margin-left: 5px; margin-right: unset; }
.em__bkOperationsWallet.__page .em__actions .btn { margin-left: 11px; margin-right: unset; }
.emSection__payment .credite_saved .item_credit .icon { margin-left: 15px; margin-right: unset; }
.emSection__payment .credite_saved .item_credit .check { left: 20px; right: unset; }
.emSection__payment .credite_saved .item_credit .icon img { width: 35px; }
.form-group.input-lined .custom-select { background-position-x: calc(5% - 3px); }
.main_haeder .em_menu_sidebar .em_profile_user .letter { margin-left: 12px; margin-right: unset; }
.emModal__filters .em_box_content_filter .buttons_select .items .btn { margin-left: 14px; margin-right: unset; }
.main_haeder .em_side_right .btn { justify-content: flex-start; }
.emPage__faq .cover_about { width: 100vw; }
.__welcomeSwiper .swiperWelcome .swiper-slide .content_text { padding-right: 20px; padding-left: unset; text-align: right; }