# True for development, False for production
DEBUG=True

SECRET_KEY=<STRONG_KEY_HERE>


emqx_api_username = '5c9591a6c6534cae'
emqx_api_password = '01k5G9CJUKnydV5Wv9BHaFFZgMhCyvDeiiTysaP8k2AAG'
emqx_base_url = 'http://localhost:18083'

# DB_ENGINE=mysql
# DB_HOST=localhost
# DB_NAME=appseed_db
# DB_USERNAME=appseed_db_usr
# DB_PASS=pass
# DB_PORT=3306